name: Hello world action

on:
  push:
    branches:
      1_hello_world_workflow


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Run one line command
        run: echo Hello, world!

      - name: Run multiline script
        run: |
            echo First line script
            echo Second line script 