name: Dart syntax checker
on: push

jobs:
  check_syntax:
    name: Check syntax
    runs-on: macos-latest
    steps:
      - name: Pull repo
        uses: actions/checkout@v2
      - name: Analyze Dart
        uses: zgosalvez/github-actions-analyze-dart@v1.6.1
        with:
          fail-on-warnings: true

      
